@media only screen and (max-width: 1440px) {
    .about-us .section-heading {
        padding: 0 110px;
    }

    .best-seller .col-lg-6:nth-child(2) {
        padding: 0 6rem;
    }

    .best-seller .col-lg-6:nth-child(1) img {
        width: 693px;
    }
}

@media only screen and (max-width: 1330px) {
    .best-seller .col-lg-6:nth-child(2) {
        padding: 0 3rem 0 4rem;
    }

    .best-seller .col-lg-6:nth-child(1) img {
        width: 650px;
    }
}

@media only screen and (max-width: 1250px) {
    .best-seller .col-lg-6:nth-child(1) img {
        width: 610px;
    }
}

@media only screen and (max-width: 1200px) {
    .about-us .section-heading {
        padding: 0 60px;
    }

    .about-us .section-under-text {
        padding: 0;
    }

    .about-us .col-lg-6:nth-child(2) img {
        width: 100%;
        height: auto;
    }

    .best-seller .col-lg-6:nth-child(1) img {
        width: 584px;
        height: 600px;
    }
}

@media only screen and (max-width: 1178px) {
    .best-seller .col-lg-6:nth-child(1) img {
        width: 575px;
        height: 585px;
    }
}

@media only screen and (max-width: 1110px) {
    .product-row {
        gap: 5rem;
        justify-content: center;
    }

    .what-we-offer-product-img {
        width: 248px;
    }

    .what-we-offer-bg-2 {
        height: 463px;
    }
}

@media only screen and (max-width: 1024px) {
    .heading {
        font-size: 80px;
        line-height: 80px;
    }

    .section-heading {
        font-size: 42px;
        line-height: 50px;
    }

    .product-row {
        gap: 2.5rem;
    }

    .what-we-offer-product-img {
        padding-top: 20px;
        width: 175px;
        margin-left: auto;
        margin-right: auto;
    }

    .what-we-offer .col-md-3:nth-child(2){
        margin-top: 7rem;
    }

    .what-we-offer .col-md-3:nth-child(2) img {
        height: 235px;
    }

    .what-we-offer .product-design {
        height: 255px;
    }

    .what-we-offer-heading {
        font-size: 28px;
        line-height: 34px;
    }
}
    
@media only screen and (max-width: 992px) {
    .about-us {
        padding: 6rem 0;
    }

    .about-us .section-heading {
        padding: 0 60px;
    }

    .about-us h3 {
        margin: 20px 0 45px;
    }
    
    .about-us .col-lg-6:nth-child(2) img {
        width: 530px;
        margin-top: 6rem;
        height: auto;
        margin-left: 5rem;
    }
}

@media only screen and (max-width: 845px) {
    .section-under-text {
        padding: 0% 27% 0% 27%;
    }
}

@media only screen and (max-width: 786px) {
    .navbar-brand {
        font-size: 1.9rem !important;
        font-weight: 700;
    }

    .heading {
        font-size: 60px;
        line-height: 60px;
    }

    .section-heading {
        font-size: 32px;
        line-height: 38px;
    }

    .what-we-offer-heading {
        font-size: 26px;
        line-height: 21px;
    }

    .product-row {
        gap: 5rem;
    }

    .about-us .col-lg-6:nth-child(2) img {
        width: 515px;
        margin-left: 0rem;
    }

}

@media only screen and (max-width: 730px) {
    .offcanvas {
        max-width: 45% !important;
    }

    .section-under-text {
        padding: 0;
    }

    .product-row {
        flex-wrap: wrap;
        margin-top: 1rem !important;
        gap: 9rem;
    }
    
    .what-we-offer .col-md-3:nth-child(2) {
        margin-top: 0;
    }

    .what-we-offer-bg-2 {
        height: 438px;
    }
}

@media only screen and (max-width: 554px) {
    .offcanvas {
        max-width: 55% !important;
    }
    
    .navbar-brand {
        font-size: 1.6rem !important;
    }
    
    .product-row {
        gap: 10rem;
    }
    
    .about-us .col-lg-6:nth-child(2) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .about-us .col-lg-6:nth-child(2) img {
        width: 85vw;
        margin-left: 0;
    }
}

@media only screen and (max-width: 460px) {
    .about-us {
        padding: 5rem 0;
    }
}