@media only screen and (max-width: 1440px) {
    .about-us .section-heading {
        padding: 0 110px;
    }

    .best-seller .col-lg-6:nth-child(2) {
        padding: 0 6rem;
    }
    
}

@media only screen and (max-width: 1400px) {
    .best-speciality {
        margin: 0 -60px;
    }

    .best-speciality .image-row {
        margin: 35px 70px 0;
    }

    .best-speciality .image-row .col-lg-3 img {
        height: 240px;
        width: 200px;
    }
}

@media only screen and (max-width: 1330px) {
    .best-seller .col-lg-6:nth-child(2) {
        padding: 0 3rem 0 4rem;
    }

    .best-speciality {
        margin: 0 -15px;
    }

    .our-strength .card-row {
        justify-content: space-evenly;
    }

    .our-strength .card {
        width: 23%;
    }
}

@media only screen and (max-width: 1250px) {
    .our-menu-items img {
        border-radius: 5px;
        width: 100px;
        height: 80px;
    }

    .our-menu-items .col-lg-6 {
        padding-right: 38px;
        padding-left: 38px;
    }
}

@media only screen and (max-width: 1200px) {
    .about-us .section-heading {
        padding: 0 60px;
    }

    .about-us .section-under-text {
        padding: 0;
    }

    .about-us .col-lg-6:nth-child(2) img {
        width: 100%;
        height: auto;
    }

    .best-seller .col-lg-6:nth-child(1) img {
        height: 750px;
    }

    .menu .section-under-text {
        padding: 0;
    }

    .best-speciality {
        margin: 0 -62px;
    }

    .best-speciality .image-row {
        margin: 35px 45px 0;
    }
}

@media only screen and (max-width: 1110px) {
    .product-row {
        gap: 5rem;
        justify-content: center;
    }

    .what-we-offer-product-img {
        width: 248px;
    }

    .what-we-offer-bg-2 {
        height: 463px;
    }

    .best-speciality {
        margin: 0 -5px;
    }

    .best-speciality .image-row {
        margin: 35px 20px 0;
    }

    .best-speciality .image-row .col-lg-3 {
        width: 25%;
    }

    .best-speciality .image-row .col-lg-3 img {
        height: 225px;
        width: 185px;
    }

    .our-strength {
        padding: 100px 0 105px;
    }
}

@media only screen and (max-width: 1024px) {
    .heading {
        font-size: 80px;
        line-height: 80px;
    }

    .section-heading {
        font-size: 42px;
        line-height: 50px;
    }

    .product-row {
        gap: 2.5rem;
    }

    .what-we-offer-product-img {
        padding-top: 20px;
        width: 175px;
        margin-left: auto;
        margin-right: auto;
    }

    .what-we-offer .col-md-3:nth-child(2){
        margin-top: 7rem;
    }

    .what-we-offer .col-md-3:nth-child(2) img {
        height: 235px;
    }

    .what-we-offer .product-design {
        height: 255px;
    }

    .what-we-offer-heading {
        font-size: 28px;
        line-height: 34px;
    }

    .best-speciality {
        margin: 0 35px;
    }

    .best-speciality .image-row {
        margin: 35px 0 0;
    }
}
    
@media only screen and (max-width: 992px) {
    .about-us {
        padding: 6rem 0;
    }

    .about-us .section-heading {
        padding: 0 60px;
    }

    .about-us h3 {
        margin: 20px 0 45px;
    }
    
    .about-us .col-lg-6:nth-child(2) img {
        width: 530px;
        margin-top: 6rem;
        height: auto;
        margin-left: 5rem;
    }

    .best-seller .col-lg-6:nth-child(1) img {
        padding: 4rem 2rem;
        height: 600px;
    }

    .best-seller .col-lg-6:nth-child(2) {
        padding: 1rem 3rem 6rem 3.5rem;
    }

    .best-seller-bg-image {
        background-size: 20% auto;
        margin-top: -30rem !important;  
    }

    .our-menu-items .col-lg-6:nth-child(odd) {
        border-right: none;
    }

    .our-menu-items .col-lg-6 {
        padding: 0;
    }

    .our-menu-items .col-lg-6 .row {
        margin-bottom: 2.5rem;
    }

    .menu .section-under-text {
        margin-top: 22px;
    }

    .best-speciality {
        margin: 0 -65px;
    }

    .best-speciality .image-row {
        margin: 50px 25px 0;
        justify-content: center;
    }

    .best-speciality .image-row .col-lg-3 {
        width: 50%;
    }

    .best-speciality > div.row.image-row > div:nth-child(even) > figure > img {
        margin-top: 0;
    }

    .testimonial {
        padding-top: 100px;
    }

    .our-strength .card-row {
        justify-content: space-evenly;
        gap: 15px;
    }

    .our-strength .card {
        width: 40%;
    }


}

@media only screen and (max-width: 845px) {
    .section-under-text {
        padding: 0% 27% 0% 27%;
    }

    .our-menu-image {
        background-position: top center;
        background-size: 24% auto;
        top: 95px;
    }

    .best-speciality {
        margin: 0 5px;
        padding: 80px 0;
    }

    .best-speciality .image-row .col-lg-3 img {
        width: 200px;
    }

    .testimonial4_slide p {
        font-size: 25px;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-brand, .footer-brand {
        font-size: 1.9rem !important;
        font-weight: 700;
    }

    .heading {
        font-size: 60px;
        line-height: 60px;
    }

    .section-heading {
        font-size: 32px;
        line-height: 38px;
    }

    .section-under-text {
        font-size: 14px;
        line-height: 25px;
    }

    .what-we-offer-heading {
        font-size: 26px;
        line-height: 21px;
    }

    .product-row {
        gap: 5rem;
    }

    .about-us .col-lg-6:nth-child(2) img {
        width: 515px;
        margin-left: 0rem;
    }

    .filter-btn {
        font-size: 20px;
        padding: 15px;
    }

    .best-speciality {
        margin: 0 -60px;
        padding: 80px 0;
    }

    .image-row .what-we-offer-heading {
        font-size: 21px;
    }

    .image-row h3 {
        font-size: 19px;
    }

    .testimonial .container {
        max-width: 750px !important;
    }

    .testimonial .carousel-control-next-icon, .testimonial .carousel-control-prev-icon {
        width: 25px;
        height: 25px;
    }

    .carousel-control-next, .carousel-control-prev {
        width: 0;
    }

    .our-strength .card-row {
        justify-content: center;
        gap: 15px;
    }

    .our-strength .card {
        width: 48%;
    }

}

@media only screen and (max-width: 730px) {
    .offcanvas {
        max-width: 45% !important;
    }

    .section-under-text {
        padding: 0;
    }

    .product-row {
        flex-wrap: wrap;
        margin-top: 1rem !important;
        gap: 9rem;
    }
    
    .what-we-offer .col-md-3:nth-child(2) {
        margin-top: 0;
    }

    .what-we-offer-bg-2 {
        height: 438px;  
    }

    .our-menu-image {
        background-position: top right;
        background-size: 23% auto;
        height: 270px;
    }

    .our-menu-item h5 {
        font-size: 19px;
        margin-bottom: 0px;
    }

    .our-menu-item p {
        font-size: 14px;
    }

    .our-menu-item .col-md-3 .card-body {
        padding: 0.2rem 0;
    }

    .best-speciality {
        margin: 0 -30px;
    }

    .best-speciality .image-row {
        margin: 50px 0px 0;
    }
}

@media only screen and (max-width: 600px) {
    .what-we-offer {
        background-size: 35% auto;    
    }
        
    .what-we-offer-bg-2{
        background-size: 28% auto;    
    }

    .our-menu-items .col-lg-6 .row .col-sm-2 {
        width: 20%;
    }

    .our-menu-items .col-lg-6 .row .col-sm-7 {
        width: 65%;
    }

    .our-menu-items .col-lg-6 .row .col-sm-3 {
        width: 15%;
    }

    .best-speciality {
        margin: 0 45px;
    }

    .best-speciality .image-row {
        gap: 15px;
    }

    .best-speciality .image-row .col-lg-3 {
        width: 100%;
    }

    .image-row .card-body {
        margin-top: 1.5rem !important;
    }

    .testimonial4_slide {
        width: 80%;
        padding: 0px;
    }

    .carousel-control-next, .carousel-control-prev {
        width: 5% !important;
    }

    .our-strength .card {
        width: 55%;
    }
}

@media only screen and (max-width: 554px) {
    .offcanvas {
        max-width: 55% !important;
    }
    
    .navbar-brand, .footer-brand {
        font-size: 1.6rem !important;
    }
    
    .product-row {
        gap: 10rem;
    }
    
    .about-us .col-lg-6:nth-child(2) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .about-us .col-lg-6:nth-child(2) img {
        width: 85vw;
        margin-left: 0;
    }

    .best-seller-bg-image {
        margin-top: -20rem !important;  
        height: 18rem;
        background-size: 25% auto;
    }
}

@media only screen and (max-width: 460px) {
    .about-us {
        padding: 5rem 0;
    }

    .best-seller .col-lg-6:nth-child(1) img {
        height: 480px;
    }

    .best-speciality {
        margin: 0 15px;
        padding: 65px 0;
    }

    .our-strength .card {
        width: 75%;
    }
}