@media only screen and (max-width: 1024px) {
    .heading {
        font-size: 80px;
        line-height: 80px;
    }

    .sub-heading {
        font-size: 42px;
        line-height: 50px;
    }

    .what-we-offer-product-img {
        padding-top: 25px;
        width: 175px;
    }

    .middle-product-img img {
        height: 239px;
    }

    .what-we-offer .product-design {
        height: 268px;
    }
}

@media only screen and (max-width: 786px) {
    .navbar-brand {
        font-size: 1.3rem !important;
        font-weight: 600;
    }

    .heading {
        font-size: 60px;
        line-height: 60px;
    }

    .sub-heading {
        font-size: 32px;
        line-height: 38px;
    }
}