@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Forum&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "DM Sans", sans-serif;
}

.navbar-toggler {
    border: var(--bs-border-width) solid #e4c590 !important;
}

.navbar-brand {
    font-size: 1.9rem !important;
    font-weight: 800;
    color: #e4c590 !important;
}

.hero {
    display: flex;
    align-items: center;
    height: 100vh;
    color: white;
    background: rgb(0, 0, 0) url(../images/Restaurant-Hero-Bg.webp) no-repeat;
    background-size: cover;
    background-position: center center;
}

.heading {
    font-family: "Forum", serif;
    font-size: 120px;
    font-weight: 400;
    line-height: 120px;
    margin: 40px 0 20px;
}

.sub-heading {
    font-family: "DM Sans", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.3em;
    color: #e4c590;
    margin-bottom: 20px;
}

.under-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    word-spacing: 1.5px;
    margin-bottom: 45px;
}

.main-btn {
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0.3em;
    background-color: transparent;
    border-style: solid;
    border-width: 0.2px 0.2px 0.2px 0.2px;
    border-color: #e4c590;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0;
    padding: 21px 41px 21px 41px;
    color: #e4c590;
    transition: 0.2s;
}

.main-btn:hover {
    background: #e4c590;   
    color: black;
}