@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Forum&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "DM Sans", sans-serif;
}

.offcanvas {
    transition: transform 0.5s ease !important;
}

.offcanvas-title {
    font-size: 1.7rem;
    color: #e4c590;
    font-weight: bold;
}

.nav-link {
    font-size: 1.3rem !important;
    margin-bottom: 25px;
    background-color: transparent;
    transition: background-color;

}

.nav-link:hover {
    color: #e4c590 !important;
    transition: all 0.2s ease-out;
    background-color: #d0cfc92b;
    padding-left: 20px;
}

.main-btn {
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0.3em;
    background-color: transparent;
    border-style: solid;
    border-width: 0.2px 0.2px 0.2px 0.2px;
    border-color: #e4c590;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0;
    padding: 21px 41px 21px 41px;
    color: #e4c590;
    transition: 0.2s;
}

.main-btn:hover {
    background: #e4c590;   
    color: black;
}

.contact-us-btn {
    padding: 13px 15px;
}

.navbar-toggler {
    border: var(--bs-border-width) solid #e4c590 !important;
}

.navbar-brand {
    font-size: 1.9rem !important;
    font-weight: 800;
    color: #e4c590 !important;
}

.hero {
    display: flex;
    align-items: center;
    height: 100vh;
    color: white;
    background: rgb(0, 0, 0) url(../images/Restaurant-Hero-Bg.webp) no-repeat;
    background-size: cover;
    background-position: center center;
}

.heading {
    font-family: "Forum", serif;
    font-size: 120px;
    font-weight: 400;
    line-height: 120px;
    margin: 40px 0 20px;
}

.sub-heading {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #e4c590;
    margin-bottom: 20px;
}

.under-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    word-spacing: 1.5px;
    margin-bottom: 45px;
}

/* What-we-Offer Section */
.what-we-offer {
    padding: 6em 0 0;
    background-color: #000000;
    background-image: url(../images/Restaurant-Flavors-BG.webp);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 20% auto;
    color: white;
}

.what-we-offer-bg-2{
    height: 500px;
    margin-top: -18rem;
    background-image: url(../images/Restaurant-Flavors-BG-2.webp);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 16% auto;
}

.what-we-offer .container {
    max-width: 1150px;
}

.section-heading {
    color: white;
    font-family: "Forum", serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
    margin: 40px 0 20px;
}

.section-under-text {
    padding: 0% 34% 0% 34%;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 45px;
    color: #a7a7a7;
}

.product-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.7rem;
    margin-top: -7rem !important;
}

.what-we-offer .product-design {
    background-image: url(../images/Restaurant-Pattern.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 387px;
    background-color: transparent;
}

.what-we-offer-product-img {
    padding-top: 2rem;
    height: 355px;
    width: 280px;
}

.what-we-offer .col-md-3:nth-child(2) {
    margin-top: 11rem;
}

.what-we-offer-heading {
    font-family: "Forum", serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 42px;
}

.what-we-offer .card-body  {
    text-align: center;
}

.what-we-offer .card-title {
    color: white;
}

.what-we-offer a {
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0.3em;
    color: #e4c590;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    text-transform: uppercase;
    text-decoration: none;
}

/* About Us Section */
.about-us {
    padding: 9rem 0;
    background: #171819;
}

.about-us .section-heading {
    padding: 0 150px;
}

.about-us .row {
    align-items: center;
}

.about-us .col-lg-2 h2:nth-child(2) {
    font-size: 16px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 45px;
}

.about-us .section-under-text {
    padding: 0 10%;
}

/* .about-us h2:nth-of-type(2) { */
.about-us h2:nth-child(5) {
    font-size: 1.1rem !important;
    color: white;
}

.about-us h3 {
    font-family: "Forum", serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 42px;
    color: #e4c590;
    margin: 20px 0 60px;
}


/* Best Seller */
.best-seller {
    background-color: #000;
}

.best-seller .row {
    margin-right: 0 !important;
    align-items: center;
    text-align: left;
}

.best-seller .col-lg-6 {
    z-index: 2;
}

.best-seller .col-lg-6:nth-child(1) img {
    width: 100%;
    object-fit: cover;
}

.best-seller .col-lg-6:nth-child(2) {
    padding: 5.5rem 7.5rem;
}

.best-seller .section-heading {
    margin: 20px 0;
}

.best-seller .section-under-text {
    padding: 0;
    margin-bottom: 20px;
}

.best-seller h3, .image-row h3{
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    color: #e4c590;
    margin: 0 0 50px;
}

.best-seller-bg-image {
    background-image: url(/images/Restaurant-Special-BG.webp);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 10% auto;
    height: 22rem;
    background-color: #000;
    margin-top: -25rem !important;
}


/* Our Menu Section */
.our-menu {
    padding: 1px 0 105px;
    background-color: #171819;
    color: white;
}

.our-menu .container {
    text-align: center;
}

.our-menu-image {
    background-image: url(../images/Restaurant-Special-BG-2.webp);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 22% auto;
    height: 310px;
    position: relative;
    margin-top: -12rem;
    top: 75px;
}

.menu {
    text-align: center;
    /* max-width: 800px; */
    margin: 0 auto 120px;
}

.filter-buttons {
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px 1px;
    border-color: #A7A7A726;
    border-right-style: none;
    border-left-style: none;
    margin-bottom: 40px;
}

.filter-btn {
    font-family: "Forum", serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 38px;
    color: white;
    padding: 20px 25px;
    background-color: transparent;
    text-transform: uppercase;
    border: none;
}

.filter-btn.active {
    color: #e4c590;
    transition: all 0.2s ease-in-out;
}


button:focus:not(:focus-visible) {
    color: #e4c590;
}

.our-menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 1rem; */
}

.our-menu-items .col-lg-6 {
    padding-right: 51px;
    padding-left: 54px;
}

.our-menu-items .col-lg-6:nth-child(odd) {
    border-right: 1px solid #717171;
}

.our-menu-item {
    max-width: 540px;
}

.our-menu-item, .card {
    background: transparent !important;
    border: none !important;
    color: white !important;
    margin: 0;
    text-align: left;
    display: none;
}

.our-menu-item .col-lg-6 .card {
    margin-bottom: 3rem !important;
}

.our-menu-item .col-md-7 .card-body {
    padding: 0.2rem 1rem;
}

.our-menu-item .col-md-3 .card-body {
    text-align: right;
    margin-right: 0;
    padding: 1rem 0;
}

.our-menu-items img {
    border-radius: 5px;
    width: 100px;
    height: 95px;
}

.our-menu-item h5 {
    font-family: "Forum", serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 8px;
}

.our-menu-item p, .image-row p {
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    color: #a7a7a7;
}

.menu .section-under-text {
    margin-top: 65px;
}

.best-speciality {
    background: #000;
    padding: 120px 0;
    border: 10px solid transparent;
    border-image: url(../images/Restaurant-Pattern-2.webp) 30 round;
}

.best-speciality .image-row {
    justify-content: space-between;
    margin: 35px 60px 0;
}

.best-speciality .image-row .col-lg-3 {
    width: 23%;
}

.best-speciality .image-row .col-lg-3 img {
    width: -webkit-fill-available;
    height: 270px;
    width: 245px;
}

.best-speciality > div.row.image-row > div:nth-child(even) > figure > img {
    margin-top: 50px;
}

.image-row .what-we-offer-heading, .our-strength .what-we-offer-heading {
    font-size: 25px;
}

.image-row p {
    font-size: 14px;
}

/* Testimonial Section */
.testimonial {
    height: 540px;
    position: relative;
    background: url(../images/Restaurant-Testimonial-Image.webp);
    padding-top: 120px;
    background-size: cover;
}

#testimonial4 .carousel-inner:hover{
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

#testimonial4 .carousel-inner:active{
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

#testimonial4 .carousel-inner .item{
    overflow: hidden;
}

.testimonial4_indicators .carousel-indicators{
    left: 0;
    margin: 0;
    width: 100%;
    font-size: 0;
    height: 20px;
    bottom: 15px;
    padding: 0 5px;
    cursor: e-resize;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    text-align: center;
    white-space: nowrap;
}

.testimonial4_indicators .carousel-indicators li{
    padding: 0;
    width: 14px;
    height: 14px;
    border: none;
    text-indent: 0;
    margin: 2px 3px;
    cursor: pointer;
    display: inline-block;
    background: #ffffff;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.testimonial4_indicators .carousel-indicators .active{
    padding: 0;
    width: 14px;
    height: 14px;
    border: none;
    margin: 2px 3px;
    background-color: #9dd3af;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.testimonial4_indicators .carousel-indicators::-webkit-scrollbar{
    height: 3px;
}

.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb{
    background: #eeeeee;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.testimonial4_control_button .carousel-control{
    top: 175px;
    opacity: 1;
    width: 40px;
    bottom: auto;
    height: 40px;
    font-size: 10px;
    cursor: pointer;
    font-weight: 700;
    overflow: hidden;
    line-height: 38px;
    text-shadow: none;
    text-align: center;
    position: absolute;
    background: transparent;
    border: 2px solid #ffffff;
    text-transform: uppercase;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
    transition: all 0.6s cubic-bezier(0.3,1,0,1);
}

.testimonial4_control_button .carousel-control.left{
    left: 7%;
    top: 50%;
    right: auto;
}

.testimonial4_control_button .carousel-control.right{
    right: 7%;
    top: 50%;
    left: auto;
}

.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover{
    color: #000;
    background: #fff;
    border: 2px solid #fff;
}

.testimonial4_header{
    top: 0;
    left: 0;
    bottom: 0;
    width: 550px;
    display: block;
    margin: 30px auto;
    text-align: center;
    position: relative;
}

.testimonial4_header h4{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    letter-spacing: 1px;
    color: #ffffff;
}

.testimonial4_slide{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    margin: auto;
    padding: 20px;
    position: relative;
    text-align: center;
}

.testimonial4_slide p {
    font-family: "Forum", serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.4;
    margin: 40px 0 20px 0;
}

.testimonial4_slide h4 {
    font-family: "Forum", serif;
    color: #e4c590;
    font-size: 22px;
    font-weight: 500;
}

.testimonial .carousel {
    padding-bottom:50px;
}

.testimonial .carousel-control-next-icon, .testimonial .carousel-control-prev-icon {
    width: 35px;
    height: 35px;
}
/* ------Testimonial  close-------*/


/* Our Strength Section */
.our-strength {
    padding: 120px 0 105px;
    background-color: #171819;
    color: white;
}

.our-strength .card-row {
    justify-content: space-evenly;
    margin-top: 50px;
}

.our-strength .card {
    width: 22%;
    align-items: center;
    padding: 40px 0;
    border-radius: 0;
}

.our-strength .card-body {
    text-align: center;
    margin-top: 20px;
}

.our-strength .card-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 45px;
    color: #a7a7a7;
}

.our-strength .card:nth-child(even) {
    background: #0e0d0c !important;
}

.our-strength .card:nth-child(odd) {
    background: #151616 !important;
}
