@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Forum&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "DM Sans", sans-serif;
}

.offcanvas {
    transition: transform 0.5s ease !important;
}

.offcanvas-title {
    font-size: 1.7rem;
    color: #e4c590;
    font-weight: bold;
}

.nav-link {
    font-size: 1.3rem !important;
    margin-bottom: 25px;
    background-color: transparent;
    transition: background-color;

}

.nav-link:hover {
    color: #e4c590 !important;
    transition: all 0.2s ease-out;
    background-color: #d0cfc92b;
    padding-left: 20px;
}

.main-btn {
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0.3em;
    background-color: transparent;
    border-style: solid;
    border-width: 0.2px 0.2px 0.2px 0.2px;
    border-color: #e4c590;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0;
    padding: 21px 41px 21px 41px;
    color: #e4c590;
    transition: 0.2s;
}

.main-btn:hover {
    background: #e4c590;   
    color: black;
}

.contact-us-btn {
    padding: 13px 15px;
}

.navbar-toggler {
    border: var(--bs-border-width) solid #e4c590 !important;
}

.navbar-brand {
    font-size: 1.9rem !important;
    font-weight: 800;
    color: #e4c590 !important;
}

.hero {
    display: flex;
    align-items: center;
    height: 100vh;
    color: white;
    background: rgb(0, 0, 0) url(../images/Restaurant-Hero-Bg.webp) no-repeat;
    background-size: cover;
    background-position: center center;
}

.heading {
    font-family: "Forum", serif;
    font-size: 120px;
    font-weight: 400;
    line-height: 120px;
    margin: 40px 0 20px;
}

.sub-heading {
    font-family: "DM Sans", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #e4c590;
    margin-bottom: 20px;
}

.under-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    word-spacing: 1.5px;
    margin-bottom: 45px;
}

/* What-we-Offer Section */
.what-we-offer {
    padding: 6em 0 0;
    background-color: #000000;
    background-image: url(../images/Restaurant-Flavors-BG.webp);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 20% auto;
    color: white;
}

.what-we-offer-bg-2{
    height: 500px;
    margin-top: -18rem;
    background-image: url(../images/Restaurant-Flavors-BG-2.webp);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 16% auto;
}

.what-we-offer .container {
    max-width: 1150px;
}

.section-heading {
    color: white;
    font-family: "Forum", serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
    margin: 40px 0 20px;
}

.section-under-text {
    padding: 0% 34% 0% 34%;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 45px;
    color: #a7a7a7;
}

.product-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.7rem;
    margin-top: -7rem !important;
}

.what-we-offer .product-design {
    background-image: url(../images/Restaurant-Pattern.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 387px;
    background-color: transparent;
}

.what-we-offer-product-img {
    padding-top: 2rem;
    height: 355px;
    width: 280px;
}

.what-we-offer .col-md-3:nth-child(2) {
    margin-top: 11rem;
}

.what-we-offer-heading {
    font-family: "Forum", serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 42px;
}

.what-we-offer .card-body  {
    text-align: center;
}

.what-we-offer .card-title {
    color: white;
}

.what-we-offer a {
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0.3em;
    color: #e4c590;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    text-transform: uppercase;
    text-decoration: none;
}

/* About Us Section */
.about-us {
    padding: 9rem 0;
    background: #171819;
}

.about-us .section-heading {
    padding: 0 150px;
}

.about-us .row {
    align-items: center;
}

.about-us .col-lg-2 h2:nth-child(2) {
    font-size: 16px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 45px;
}

.about-us .section-under-text {
    padding: 0 10%;
}

/* .about-us h2:nth-of-type(2) { */
.about-us h2:nth-child(5) {
    font-size: 1.1rem !important;
    color: white;
}

.about-us h3 {
    font-family: "Forum", serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 42px;
    color: #e4c590;
    margin: 20px 0 60px;
}


/* Best Seller */
.best-seller {
    background: #000;
}

.best-seller .section-under-text {
    padding: 0;
}

.best-seller h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    color: #e4c590;
    margin: 20px 0 60px;
}

.best-seller h2:nth-child(5){
    font-size: 18px;
    line-height: 23px;
}

.best-seller h2:nth-child(5) {
    display: inline;
}
